/*
* @Author: melissa
* @Date:   2017-08-12 16:04:56
* @Last Modified by:   melissa
* @Last Modified time: 2017-08-14 19:10:21
*/
body{
	background-color: #fff;
}
.mui-active{
	color: #007aff;
}
.marginTop{
	margin-top: 40px;
	margin-bottom: 50px;
}
/* newsInfo里面的新闻内容的样式 */
#content p {
		color: #000 ;
}